build/
.build/
vendor/dobby/
*.dylib
*.o
*.a
.DS_Store
cmake-build-*/
.idea/
.vscode/
scratch/
.scratch/
signatures_generated.json
out/
tests/
!macsteam-app/Tests/
!macsteam-app/Tests/**

xcuserdata/
*.xcuserstate
DerivedData/
